/**
 * Body CSS
 */
html,
body {
    height: 100%;
    font-family: Roboto;
}

html,
body,
input,
textarea,
buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.mui-appbar {
    background-color: white;
}

header a, .mui--text-title {
    color: #343c4b;
}

header table {
    width: 100%;
}

table {
    margin-top: 15px;
}

/**
 * Content CSS
 */
#content-wrapper {
    min-height: 100%;
    /* sticky footer */
    box-sizing: border-box;
    margin-bottom: -100px;
    padding-bottom: 100px;
    margin-top: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 2px;
}

.form {
    margin: 15px;
    padding: 15px;
}

#corporate {
    margin-left: 10px;
    padding: 5px;
    height: 26px;
}

#valider {
    height: 36px;
    margin-left: 10px;
    padding-right: 10px;
    padding-left: 10px;
}

#logoCorporate{
    width: 120px
}

#infoName, #infoEmployees{
    padding-top: 48px;
}

/**
 * Footer CSS
 */
footer {
    box-sizing: border-box;
    height: 100px;
    background-color: #eee;
    border-top: 1px solid #e0e0e0;
    padding-top: 35px;
    margin-top:70px;
}

